@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Lobster&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
 }

/* logo */

#logo {
    float: left;
    font-size: 270%;
    margin-left: 30px;
    font-family: "Lobster", cursive;
    text-shadow: 2px 2px 4px #0d4139;
    color: #c2e812;
}


/* navigation links */

header {
    height: 80px;
    background-color: #6d8a96;
    }


#menu {
    font-size: 100%;
    font-weight: 800;
    letter-spacing: 4px;  
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px; 
}

#menu a {
    text-decoration: none;
    color: #fbfbfa;
}

#menu a:hover {
    color: #c2e812;
    text-decoration: underline;
}

/* hero image */

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url("../images/woman-in-blue-2600x1000.gif") no-repeat center center;
    background-size: cover;
}

/*about us section*/
#about-us {
text-align: center;
background-color: #c2e812;
height: 170px;
padding: 20px 180px;
}

h2, h3 {
    font-family: "Karla", serif;
    color: #171219;
}

h2 {
    font-size: 220%;
    letter-spacing: 4px;
    margin-bottom: 15px;
}
h3 {
    font-size: 120%;
    letter-spacing: 2px;
    margin-bottom: 3px;

}

p {
    color:#2f2932;;
    font-size: 100%;
    
}

/*footer*/

footer {
    height: 150px;
    background-color: #6d8a96
    }
    
    .social-networks{
    text-align: center;
    }
    
    .social-networks > li{
        display: inline; /*makes the icons display horizontaly*/
    }
    
    .social-networks i{ /*targets the icons themselves*/
        font-size: 160%;
        margin: 1px;
        padding: 5%;
        color: #fbfbfa;
    }